mixin projectList(projects)
  each p in projects
    .project
      h2 #{p.title} 
      h3
        if !p.end
          - var start = moment(new Date(p.start)).fromNow(true)
          | Active project for #{start}
        else
          - var start = moment(new Date(p.start)).format('MMM YYYY')
          - var end = moment(new Date(p.end)).format('MMM YYYY')
          | From #{start} up to #{end}
        if p.collaborators
          |  with #{p.collaborators}
      p #{p.description}
      if p.links
        ul.list-inline
          each link in p.links
            li
              a.btn.actionBtn.inverseBtn(href=link.href) #{link.text}
